/* Header */

#header {
    position: fixed;
    z-index: 1;
    width: 100%;
}

/* Navigation */
.nav-bar {
    display: inline-flex;
    background-color: #000;
    height: 50px;
    width: 100%;
}

.nav-bar__logo {
    font-size: 3rem;
    font-weight: 700;
    color: var(--text-color);
    margin: 0 24px 5px 60px;
    width: 117px;
    line-height: 45px;
}

.nav-bar__list {
    max-width: 80%;
    padding-left: 0;
    height: 100%;
    list-style: none;
    display: inline-flex;
}

.nav-bar__list .nav-bar__item {
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 500;
    display: inline-flex;
    min-width: 120px;
    height: 100%;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    flex: content;
}

.nav-bar__list .nav-bar__item:hover {
    cursor: pointer;
    color: #272424;
    background-color: #c3c3c3;
}

.logout-btn{
    background-color: #fff;
    color: #000;
    font-size: 1.8rem;
    font-weight: 500;
    width: 10%;
    height: 99%;
    border: 2px solid #000;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    margin-left: auto;
    padding-top: 11px;
}

.logout-btn:hover{
    cursor: pointer;
    background-color: #c3c3c3;
}

/* Body */

#body img{
    position: relative;
    margin-top: 50px;
    width: 100%;
}