:root{
    --text-color: #c9c9c9;
    --white-color: #fff;
    --black-color: #000;
    --bg-color: #ccc;
}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    height: 60rem;
}

