/* Header */

#header {
    position: fixed;
    z-index: 1;
    width: 100%;
}

/* Navigation */
.nav-bar {
    display: inline-flex;
    background-color: #000;
    height: 50px;
    width: 100%;
}

.nav-bar__logo {
    font-size: 3rem;
    font-weight: 700;
    color: var(--text-color);
    margin: 0 24px 5px 60px;
    width: 117px;
    line-height: 45px;
}

.nav-bar__list {
    max-width: 80%;
    padding-left: 0;
    height: 100%;
    list-style: none;
    display: inline-flex;
}

.nav-bar__item:nth-child(1) {
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 500;
    display: inline-block;
    min-width: 120px;
    height: 100%;
    text-align: center;
    line-height: 50px;
    padding: 0 2rem;
    position: relative;
}

.nav-bar__item:nth-child(1):hover,
.sub-nav__title:hover {
    cursor: pointer;
    color: #272424;
    background-color: var(--bg-color);
}

.sub-nav__title {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 500;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 50px;
    padding: 0 4rem;
    position: relative;
}

.sub-nav__icon {
    display: inline-block;
    line-height: 50px;
    transform: translateY(2px);
}

.sub-nav__list {
    display: block;
    list-style: none;
    background-color: #fff;
    font-size: 1.8rem;
    font-weight: 500;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 20%);
}

.sub-nav__item {
    line-height: 3.4rem;
    padding: 1.2rem 2.4rem;
}

.sub-nav__item:hover {
    cursor: pointer;
    background-color: var(--bg-color);
}

.logout-btn {
    background-color: #fff;
    color: #000;
    font-size: 1.8rem;
    font-weight: 500;
    width: 10%;
    height: 99%;
    border: 2px solid #000;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    margin-left: auto;
    padding-top: 11px;
}

.logout-btn:hover {
    cursor: pointer;
    background-color: #c3c3c3;
}

/* Body */

#body img {
    position: relative;
    margin-top: 50px;
    width: 100%;
}