/* Header */

#header {
    position: fixed;
    z-index: 1;
}

/* Navigation at begin */
.nav-bar {
    display: inline-flex;
    background-color: #000;
    height: 50px;
    width: 100%;
    position: fixed;
}

.nav-bar__logo {
    font-size: 3rem;
    font-weight: 700;
    color: var(--text-color);
    margin: 0 24px 0 60px;
    width: 117px;
    line-height: 45px;
}

.nav-bar__list {
    max-width: 60%;
    padding-left: 0;
    height: 100%;
    list-style: none;
    display: inline-flex;
}

.nav-bar__list .nav-bar__item {
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 500;
    display: inline-block;
    min-width: 120px;
    height: 100%;
    text-align: center;
    line-height: 50px;
    padding: 0 2rem;
}

.nav-bar__list .nav-bar__item:hover {
    cursor: pointer;
    color: #272424;
    background-color: var(--bg-color);
}

/* Login modal */
@keyframes showModal {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.login-modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(51, 51, 51, 0.6);
    display: none;
    align-items: center;
    justify-content: center;
}

.login-modal.active {
    display: flex;
}

.login-modal .login-modal__content {
    display: flex;
    background-color: var(--white-color);
    height: 70%;
    width: 40%;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    animation: showModal ease 0.5s;
}

.login-modal .modal-close {
    display: block;
    padding: 0.5rem;
    font-size: 2.2rem;
    position: absolute;
    right: 0;
    top: 0;
    color: rgba(0, 0, 0, 0.6);
}

.login-modal .modal-close:hover {
    cursor: pointer;
    color: #fff;
    background-color: red;
}

.login-modal__content .login-modal__header {
    width: 100%;
    display: flex;
    margin: 4rem 0 6rem;
}

.login-modal__header .login-modal__header--logo {
    font-size: 3rem;
    font-weight: 700;
    margin: 0 auto 0 2.8rem;
}

.login-modal__header .login-modal__header--title {
    font-size: 2.8rem;
    font-weight: 400;
    margin: 0 2.8rem 0 auto;
}

.login-modal__content .login-modal__body {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.login-modal__acc--title,
.login-modal__acc--inp,
.login-modal__password--title,
.login-modal__password--inp {
    margin: 0 2.8rem;
    font-size: 2.2rem;
}

.login-modal__acc--title,
.login-modal__password--title {
    font-weight: 500;
}

.login-modal__acc--inp,
.login-modal__password--inp {
    margin-bottom: 2.8rem;
    opacity: 0.8;
    border-style: none;
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-radius: 4px;
}

.login-modal__body .login-btn {
    background-color: #347ab6;
    color: var(--white-color);
    font-size: 2rem;
    margin: auto auto 3.2rem auto;
    line-height: 3rem;
    border-radius: 3px;
    padding: 0.3rem 1.4rem 0.5rem 1.4rem;
    text-decoration: none;
}

.login-modal__body .login-btn:hover {
    cursor: pointer;
    background-color: #345bb7;
}

/* Body */

#body img {
    position: relative;
    margin-top: 50px;
    width: 100%;
}

.body-content {
    background-color: #fff;
    width: 60%;
    height: 40%;
}