:root{
    --text-color: #c9c9c9;

}

#header{
    position: fixed;
    z-index: 1;
}

.nav-bar{
    display: flex;
    background-color: #000;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.nav-bar .nav-bar__logo{
    font-size: 30px;
    color: var(--text-color);
    display: block;
    margin: 0 48px 0 56px;
    width: 100px;
    text-align: center;
    line-height: 50px;
}

.nav-bar .nav-bar__start{
    width: 250px;
}

.nav-bar .nav-bar__list{
    margin: 0;
    padding-left: 0;
    height: 100%;
    list-style: none;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.nav-bar .nav-bar__item{
    font-size: 18px;
    text-align: center;
}

.nav-bar__item a{
    color: var(--text-color);
    text-decoration: none;
    text-underline-offset: none;
}

#body{
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
}
